.footer{
    height: 380px;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
}

.footer-png{
    height: 350px;
    width: 100%;
   
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../assets/images/pokemon.png");
}